.red-big-center{
    color: aqua;
    font-size: 5em;
    text-align: center;
    background-color: blue;
}

a:link{
    color: blueviolet;
}
a:visited{
    color: aqua;
}
a:hover{
    color: red;
}
a:active{
    color: blue;
}
span::before{
    content: "《";
}
.special,p{
    color: #008c8c;
}
.special~li{
    color: red;
}